body {
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.barlygy {
    width: min(90vw, 1193px);
    margin: 8px auto;
}

.ortasy {
    padding: 7px 0px;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 7px 10px 4px 10px;
}

header .logo {
    margin-right: 7px;
    float: left;
    width: 108px;
}

header a {
    margin-right: 15px;
    font-size: 13px;
}

header .astyga{
    width: 11px;
    height: 10px;
    vertical-align: -1px;
    margin-left: 4px;
}

header .izdeu {
    width: 20px;
    float: right;
    margin: 0px 10px 0px 20px;
}

header .kiru {
    width: 35px;
    float: right;
    margin: 0px 10px;
    position: relative;
    top: -5px;
}


.ortasy {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.ulkeni,
.kiwkentay {
    margin-bottom: 30px;
}

.ulkeni {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
    padding-left: 75px;
    background-image: url('https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RWLAmj?ver=35aa&q=0&m=8&h=472&w=1259&b=%23FFFFFFFF&l=f&x=0&y=0&s=1898&d=712&aim=true');
    background-position: absolute;
    background-size: contain;
    width: 1259px;;
    height: 432px;
    position: relative;
}

.ulken-sozder{
    width: 440px;
    margin-left: 0px;
}

.ulkeni h1 {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.ulkeni p {
    margin-bottom: 30px;
    font-size: 15px;
    color: white;
}

a.tuime {
    display: inline-block;
    padding: 8px 25px;
    font-weight: 500;
    height: 25px;
}

a.tuime.aq {
    color: black;
    background-color: white;
}

.kiwkentaylar {
    /* flex-basis: 20%;
    flex-shrink: 1;
    display: flex; */
    flex-flow: row wrap;
}

.kiwkentay {
    flex-basis: 20%;
    flex-shrink: 1;
    display: flex;
    flex-flow: row wrap;
}

.kiwkentay h3 {
    font-size: 20px;
    font-weight: 600;
}

.kiwkentay p {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 15px;
}

a.tuime.sozben {
    padding: 0px;
    color: #007ace;
    padding-bottom: 10px;
}